<section>
  <div class="page-header">
    <h2>Members</h2>
  </div>

  {{outlet}}

  {{#each controller}}
    <a {{action showMember href=true}}><img {{bindAttr src="thumb_link"}} width="50" height="50"></a>
  {{/each}}
</section>
