<section>
  <div class="row well margined">
    <div class="span4">
      <img {{bindAttr src="photo_link"}}>
    </div>

    <div class="span4">
      <h2>{{name}}</h2>
    </div>
  </div>
</section>
