<section>
  <div class="page-header">
    <h2>Members</h2>
	</div>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {{#each controller}}
        <tr>
          <td><a {{bindAttr href="link"}}>{{name}}</a></td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
